@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

:root {
  --matr-navbar-bg: black;
  --matr-navbar-bg-rgb: 13, 13, 13;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: #668f80;
}

body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center url("images/background.png");
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  color: white !important; /*sorry, i couldn't figure this out without using !important*/
  --bs-link-color-rgb: #198754 !important;
  --bs-link-hover-color-rgb: #668f80 !important;
}

#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

#landing-page-pic {
  padding: 50px 0 50px 40px;
}

.page-title-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accordion-header {
  --bs-accordion-active-bg: #668F80;
  --bs-accordion-btn-bg: #515151;
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-btn-color: #ffffff;
}

.btn-primary {
  --bs-btn-bg: #198754 !important;
  --bs-btn-border-color: #198754 !important;
  --bs-btn-hover-bg: #126940 !important;
  --bs-btn-hover-border-color: #126940 !important;
  --bs-btn-active-bg: #198754 !important;
  --bs-btn-active-border-color: #198754 !important;
  --bs-btn-disabled-bg: #668f80 !important;
  --bs-btn-disabled-border-color: #668f80 !important;
}

.dropdown-item.active {
  background-color: #668f80 !important;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #668f80 !important;
}

.alert-light {
  --bs-alert-color: #198754 !important;
  --bs-alert-bg: #0d0d0d !important;
  --bs-link-hover-color-rgb: #668f80 !important;
}
